<footer>

  <div class="background">
                <img src="<%= image_path 'n4.jpg'%>" alt="member" width="1270" height="500">
    <div class="layer">
      <div class="row foot">
<div class="col-sm-4">
<h4><b>CENTRO ADMINISTRATIVO</b></h4>
<br>Rua 25 de Agosto,744
<br>Itoupava North - Blumenua/SC
<br>CEP:89053-300
<br><b>47 3038-82200</b>
<div class="row">
  <br><br><img src="<%= image_path 'i7.jpg'%>" alt="member" width="100">
</div>
</div>
<div class="col-sm-4">
<h4><b>CONTATO</b></h4>
<br><b>Matriz</b> - 47 3221-0400
<br><b>Filial Blumenua</b> - 47 3338-0087|47 3221-0400
<br><b>Filial Jargau do Sul</b> - 47 3338-0087|47 3221-0400
<br><b>Filial Itajal</b> - 47 3338-0087|47 3221-0400
<br><b>Filial Picarras</b> - 47 3338-0087|47 3221-0400
</div>
<div class="col-sm-4">
      <br><br><br><b>Filial Nova Trento</b>
       <br><b>Filial Sao Bento do Sul</b>
        <br><b>Filial Indaial</b>
         <br><b>Filial Joinville</b>
          <br><b>Filial Sao JOse</b>
    </div>
      </div>

    </div>
  
  </div>
</footer>