<!--nav bar begin-->
<nav class="navbar navbar-default ">
  <div class="container-fluid">
   <div class="title">
    <ul class="nav navbar-nav ">
      <li><a href="#" >O GRUPO</a></li>
      <li><a href="#">SOLUCOES</a></li>
      <li><a href="#">OBRAS</a></li>
      <li><a href="#"><h2><b>MAX MOHR</b></h2><p style="font-size:12px ">GRUPO</font></p></a></li>
      <li><a href="#">MIDIA</a></li>
      <li><a href="#"> ESTAMOS</a></li>
      <li><a href="#">CONTATO</a></li>
    </ul>
   </div>
  </div>
</nav>
<!-- nav bar end-->
